*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Header section starts here  */

header{
    display: flex;
    padding: 4px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    align-items: center;
    width: 100%;
}
.logo img{
    max-width: 30%;


}
.navbar ul li:last-child{
    margin-right: 0;
}
.navbar ul{
    display: flex;
    margin-left: 780px;
    
}
.navbar ul li{
    list-style: none;
    margin-right: 40px;
    
}
.navbar ul li a{
text-decoration: none;
color: #808080;
font-size: 1.1rem;
font-weight: bold;
font-family:'Gill Sans', 'Gill Sans MT', Calibri;
transition: all ease 0.3s;

}
.navbar ul li a:hover{
    color: #ffa500;
    /* font-size: 1.2rem;  */
    text-shadow: 0px 1px 2px #ffa500;
}


/* Hero section starts here */

.hero{
    position: relative;
    height: 600px;
    overflow: hidden;
    
}
.hero-img img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100;
    object-fit: cover;
    z-index: -1;

}
.hero-content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.hero-content h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}
.hero-content p{
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ffa500;
    color: #fff;
    padding:15px 25px 15px 25px;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    transition:all ease 0.5s;

}
.hero-btn:hover{
    background-color: #808080;
}

/* Destination section starts here */


.destination{
    margin: 90px 40px 30px 40px;
    text-align: center;
}
.destination h2{
    font-size: 2.4rem;
    font-family:  sans-serif;
    margin-bottom: 40px;
    margin-bottom: 60px;
    
    
}
.destination-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.destination-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.destination-item {
    margin: 20px;
}
.destination-item h3{
    
    text-align: left;
    margin-top: 20px;
}
.destination-item h3{
    font-size: 1.3rem;
    
}
.destination-item p{
    margin-top: 10px;
    text-align: left;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}


/* Featured Hotels section starts here  */




/* About section starts here  */

.about{
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 80px;
}
.about h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-bottom: 30px;
    
}
.about-team{
    margin: 100px 0px;
}
.about p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.team-member{
    display: flex;
    flex-wrap: wrap;
    padding-left: 12%;
    
}
.team-member img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 25px;
}
.team-mem h4{
    margin-bottom: 15px;
    font-size: 1.3rem;
}

/* Footer section  */
.footer{
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    margin-bottom: 5px;
    padding: 30px 40px 10px 40px;

}
.footer-icon{
    text-decoration: none;
    display: flex;
    gap: 50px;
    margin-left: 400px;
    height: 50px;
    font-size: larger;
    
}

.footer-text{
    display: flex;
    gap: 150px;
    margin-top: 40px;
    
}
.footer-c1 p{
    padding-top: 15px;
}

.footer-c2 p{
    padding-top: 15px;
}

.footer-c3 p{
    padding-top: 15px;
}
.footer-c3 p a{
    text-decoration: none;
    }
.footer-c4 p{
    padding-top: 15px;
}
.footer-c4 p a{
    text-decoration: none;
    
   }
.footer-txt{
    
    background: #e5e2e2;
    text-align: center;
    height: 70px;
    
}
.footer-txt h5{
   
   margin-top: 40px;
   padding-top: 22px;
   font-size:medium ;
}







